.field {
  line-height: 1.5;
}

.field:not(:last-of-type) {
  margin-bottom: 20px;
}

.field-name {
  // TODO: make this value global
  margin-bottom: 20px;
  font-weight: bold;
}

.field-array-item-container {
  background-color: $color-background;
  padding: 20px;
}

.field-array-item {
  background-color: white;
  padding: 20px;
}

.field-array-item:not(:last-of-type) {
  margin-bottom: 20px;
}
