.field-edit-upload-button {
  height: 120px;
  width: 160px;
  background-color: red;
  background-position: center;
  background-size: cover;
}

.dullahan-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  margin-top: 64px;
  margin-left: 96px;
  background-color: $color-background;
}

.dullahan-modal.is-open {
  display: block;
}
