.list-item {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.list-item-icon {
  height: 42px;
  width: 42px;
  float: left;
  background-color: $list-item-icon-background-color;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

.list-item-subtitle {
  font-size: 14px;
  opacity: 0.4;
  margin-top: 2px;
}

.list-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a .list-item {
  color: black;
}

.list-item-outer:hover {
  text-decoration: none;
}
