$color-primary: #9E4D9C;

$color-primary-action: $color-primary;
$color-secondary-action: #979797;
$section-header-border-color: #CDCDCD;
$top-bar-height: 64px;
$list-item-icon-background-color: #D8D8D8;
$color-background: #ebebeb;
