$font-size-base: 16px;
$brand-primary: #5f9ddc;
$body-bg: #ebebeb;
$btn-primary-border: $brand-primary;
@import "bootstrap";
@import "mixins";

$sidebar-bg-color: #2C3E50;

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dullahan-box {
  background-color: white;
  padding: 16px;
  h1 {
    margin-top: 0;
  }
}

html, body, .container-fluid, .row {
  height: 100%;
}

.nav {
  background-color: $sidebar-bg-color;
  height: 100%;
  width: 96px;
  float: left;
}

.nav-item {
  height: 96px;
  padding-top: 16px;
}

.nav-item-active {
  background-color: black;
}

.nav-item-icon {
  background-color: white;
  border-radius: 36px;
  height: 36px;
  width: 36px;
  margin: 0 auto;
}

.nav-item-title {
  color: white;
  text-align: center;
  padding: 11px;
}

.content {
  margin-left: 96px;
}

.media-image-grid-container {
  padding: 8px;
}

.media-image-container {
  padding:8px;
}

.media-image {
  background-color: white;
}

.media-image-name {
  padding: 8px;
  @include truncate;
}

@media (max-width: $screen-sm-max) {

  .dullahan-box-login {
    top: 0;
    transform: none;
  }

}