$font-size-base: 16px;
$brand-primary: #9E4D9C;
$body-bg: #ebebeb;
$btn-primary-border: $brand-primary;
$sidebar-bg-color: #2C3E50;
$input-bg: #ECECEC;
$input-border: #ECECEC;

@import "bootstrap";
@import "mixins";
@import "nav";
@import "featherlight";

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dullahan-box {
  background-color: white;
  padding: 16px;
  h1 {
    margin-top: 0;
  }
}

html, body, .container-fluid, .row {
  height: 100%;
}

.content {
  margin-left: 96px;
}

.media-image-grid-container {
  padding: 8px;
}

.media-image-container {
  padding:8px;
}

.media-image {
  background-color: white;
}

.media-image-name {
  padding: 8px;
  @include truncate;
}

@media (max-width: $screen-sm-max) {

  .dullahan-box-login {
    top: 0;
    transform: none;
  }

}

body {
  background-color: #F2F2F2;
}

.login-container {
  background-color: #F2F2F2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: white;
  width: 600px;
  display: flex;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.10);
}

.login-box-left {
  background-color: #9E4D9C;
  min-width: 176px;
}

.login-box-right {
  padding: 30px;
  flex-grow: 1;
}

.login-header {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.top-bar {
  height: 56px;
  width: 100%;
  background-color: $brand-primary;
  color: white;
  line-height: 56px;
  padding-left: 30px;
}

.side-nav {
  width: 96px;
  background-color: #2c3e50;
}

.side-nav-item {
  height: 96px;
  color: white;
  text-align: center;
  line-height: 96px;
  display: block;
  &:hover {
    color: white;
  }
}

.side-nav-item-active {
  background-color: black;
}

.app-container {
  display: flex;
  height: calc(100vh - 56px);
}

.form-control {
  box-shadow: none;
  &:focus {
    box-shadow: none;
    border: 2px solid $brand-primary;
  }
}