{% extends 'base.twig' %}
{% block body %}
<div class="nav">
    <div class="nav-item nav-item-active">
        <div class="nav-item-icon"></div>
        <div class="nav-item-title">Content</div>
    </div>
    <div class="nav-item">
        <div class="nav-item-icon"></div>
        <div class="nav-item-title">Media</div>
    </div>
    <div class="nav-item">
        <div class="nav-item-icon"></div>
        <div class="nav-item-title">Users</div>
    </div>
    <div class="nav-item">
        <div class="nav-item-icon"></div>
        <div class="nav-item-title">Settings</div>
    </div>
</div>
<div class="content">
    <div class="col-xs-12">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}