{% extends 'base.twig' %}
{% block body %}
<div class="nav">
    <a href="{{ urlFor('contentList') }}">
        <div class="nav-item {% if active == 'content' %}nav-item-active{% endif %}">
            <div class="nav-item-icon"></div>
            <div class="nav-item-title">Content</div>
        </div>
    </a>
    <a href="{{ urlFor('mediaList') }}">
        <div class="nav-item {% if active == 'media' %}nav-item-active{% endif %}">
            <div class="nav-item-icon"></div>
            <div class="nav-item-title">Media</div>
        </div>
    </a>
    <div class="nav-item {% if active == 'users' %}nav-item-active{% endif %}">
        <div class="nav-item-icon"></div>
        <div class="nav-item-title">Users</div>
    </div>
    <div class="nav-item {% if active == 'settings' %}nav-item-active{% endif %}">
        <div class="nav-item-icon"></div>
        <div class="nav-item-title">Settings</div>
    </div>
</div>
<div class="content" style="overflow: scroll; height: 100%">
    <div class="col-xs-12">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}